
/* 
Color Pallet Plan

Main Baby Blue

Complimentary Colors 
    - Coral -> eaa897
    - Pale Yellow ->    eae997

    More Pale Yellow Options
    - fcfbb3
    - fdfdda
*/



.baby-blue {
    background-color: #97cbea;
}

.baby-blue-button {
    color: black;
    background-color: #97cbea;
    border-color: #97cbea;
}

.coral-button {
    color: black;
    background-color: #eaa897;
    border-color: #eaa897;
}

.pale-yellow-button {
    color: black;
    background-color: #eae997;
    border-color: #eae997;
}


.pale-yellow-row {
    background-color: #fdfdda;
    padding: 10px;
}