
/* 
Color Pallet 1
-1F271B
-19647E
-28AFB0
-F4D35E
-EE964B
*/

.paynes-gay-backdrop {
    background-color: #19647E;
}

.black-olive-backdrop {
    background-color: #1F271B;
}

.verdigris-backgrop {
    background-color: #28AFB0;
}

